@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a new machine:</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)
    

    @Html.Label("Select an Engineer to associate with the machine")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new Machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>