@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a New Machine:</h2>
<hr/>
@using (Html.BeginForm())
{
    <h4>Machine Name: @Html.TextBoxFor(model => model.MachineName)</h4>
    

    @Html.Label("Assign an engineer:")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new Machine" class="btn btn-primary" />
}
<hr/>
<p>@Html.ActionLink("Show All Machines", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>