@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr/>
<h4>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</h4>
<h4>Badge ID: @Html.DisplayFor(model => model.EngineerId)</h4>

@if(@Model.Machines.Count == 0)
{
    <h4>@Html.DisplayFor(model => model.EngineerName) has no machine duty assignment.</h4>
}
else
{
    <hr/>
    <h4>Machine Assignment:</h4>
    @foreach(var join in Model.Machines)
    {
        <h6>@join.Machine.MachineName</h6>
    }
}
<hr/>
<p>@Html.ActionLink("Back to Engineer Roster", "Index", null, null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Edit Engineer Details", "Edit", new { id = Model.EngineerId }, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId }, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Remove Engineer from roster", "Delete", new { id = Model.EngineerId }, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Back Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>
