@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>Badge ID: @Html.DisplayFor(model => model.EngineerId)</h3>

@if(@Model.Machines.Count == 0)
{
    <h4>@Html.DisplayFor(model => model.EngineerName) has no machine duty assignment.</h4>
}
else
{
    <h4>@Html.DisplayFor(model => model.EngineerName) is assigned to these machines:</h4>
    @foreach(var join in Model.Machines)
    {
        <h5>@join.Machine.MachineName</h5>
    }
}

<p>@Html.ActionLink("Back to Engineer Roster", "Index")</p>
<p>@Html.ActionLink("Edit Engineer Details", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Remove Engineer from roster", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>
